<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/care.css">

</head>
<body>
    <header class="header-container">
        <div class="sub-contain">
            <div class="top-bar">
                <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
            </div>
            <div class="nav-container container">
                <nav class="navigation">
                    
                    <ul>
                        <li><a href="/#">Home</a></li>
                        <li><a href="/#cta-container-tenant">Login</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#services">Services</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>

                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <div class="header">
            <div>
                <h2>Welcome <%= agentFname %></h2>
                <p class="date"> <%= date %></p>
                <p class="title">Customer Service</p>
            </div>
            <div class="avatar-div">
                <img src="/images/founder.png" alt="user avatar" class="user-avatar">
                <a href="#"><img src="/icons/edit-icon.png" alt="edit button" class="edit-btn"></a>
            </div>
        </div>
        <div class="service-container">
           <p>Speak with our customer care representatives.</p>
           <div class="content-grp">
            <img src="/icons/phone.png" alt="phone icon" class="icon">
                <div>
                    <p>+2349019164035</p>
                    <p>+2349031640039</p>
                </div>
           </div>
           <p class="sub-title">Get email responses in less that 24 hours</p>
           <div class="content-grp">
            <img src="icons/email.png" alt="email icon" class="icon">
                <div>
                    <p>info@thr.com</p>
                    <p>enquiries@thr.com</p>
                </div>
           </div>
        </div>
        <div class="btn-container">
            <a href="/adashboard">
                <div class="back-btn">
                    <img src="/icons/prev-icon.png" alt="previous icon">
                </div>
            </a>
        </div>
    </div>
    <footer>
        Copryight © 2023 Tosim’s Royalty Homes
    </footer>
</body>
</html>