<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Form</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <header class="header-container">
        <div class="sub-contain">
            <div class="top-bar">
                <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
            </div>
            <div class="nav-container container">
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#cta-container-tenant">Login</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <div class="header">
            <div>
                <h2>Welcome Agent</h2>
                <p class="date"> 9th June, 2023</p>
                <p class="title">Validate Tenant</p>
            </div>
            <div class="avatar-div">
                <img src="/images/founder.png" alt="user avatar" class="user-avatar">
                <a href="#"><img src="/icons/edit-icon.png" alt="edit button" class="edit-btn"></a>
            </div>
        </div>
        <div class="form-container">
            <form action="">
                <p>Run a validation check on your clients with their unique tenant code provided</p>
                <div class="app-container">
                    <input type="text" name="utc-input" id="utc-input">
                </div>
                <button type="submit" class="btn btn-primary">Run Check</button>  
                <div class="details hidden" id="details-div">
                    <p>Status: <span class="status">Cleared</span> </p> 
                    <p><a href="">See more details</a></p>
                    <div class="hidden">
                        <p>Finance: <span>Cleared</span> </p>
                        <p>Damages: <span>Cleared</span> </p>
                        <p>Tenant's reputation <span>Positive</span></p>
                        <p>Property: <span>AB House</span></p>
                        <p>Name of Tenant: <span>Mr. Adeola Smith</span></p>
                    </div>
                </div>  
                
            </form>
        </div>
        <div class="btn-container">
                <div class="back-btn">
                    <img src="/icons/prev-icon.png" alt="previous icon">
                </div>
            </a>
        </div>
    </div>
    <footer>
        Copryight © 2023 Tosim’s Royalty Homes
    </footer>
</body>
</html>