<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRH</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
        <header class="header-container">
            <div class="sub-contain">
                <div class="top-bar">
                    <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                    <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
                </div>
                <div class="nav-container container">
                    <nav class="navigation">
                        
                        <ul>
                            <li><a href="#" class="current-page">Home</a></li>
                            <li><a href="#cta-container-tenant">Login</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
    
                    </nav>
                </div>
            </div>
            
        </header>
        <div class="hero">
            <!-- <p>just some test content</p> -->
        </div>
        <div class="container lead-container">
            <p class="lead">The one stop-solution for hassle-free tenant tracking and validation.</p>
        </div>
        <div id="nuggets-container">
            <div class="nuggets-row1 container">
                <div class="nugget1">
                    <div class="nugget-icon-container flex flex-center">
                        <img src="/icons/icon-home.png" alt="home-icon" class="nugget-icon">
                    </div>
                    <div class="nugget-content-div flex flex-center">
                        <div class="content">
                            <h3>Ease of Use</h3>
                            <p>
                                TRH’s web application is easy to use and improves your user experience.
                            </p>
                        </div>
                    </div>
                </div>  
                <div class="nugget2">
                    <div class="nugget-icon-container flex flex-center">
                        <img src="/icons/icon-home.png" alt="home-icon" class="nugget-icon">
                    </div>
                    <div class="nugget-content-div flex flex-center">
                        <div class="content">
                            <h3> Accuracy and Authenticity</h3>
                            <p>
                                TRH’s web application implements accurate and authentic data in the database.
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="nuggets-row2 container">
                <div class="nugget1">
                    <div class="nugget-icon-container flex flex-center">
                        <img src="/icons/icon-home.png" alt="home-icon" class="nugget-icon">
                    </div>
                    <div class="nugget-content-div flex flex-center">
                        <div class="content">
                            <h3>Reliability</h3>
                            <p>
                                Our web application is anchored on reliable web hosting platforms.                            
                            </p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div id="cta-container-tenant" class="container">
            <p>Are you a <span class="emphasis">Tenant?</span><img src="/icons/Shape.png" alt="tenant icon" class="tenant-icon"></p>
            <div class="btn-grp ">
                <a href="tlogin"><span class="btn btn-primary flex flex-center">Login</span></a>
                <a href="tsignup"><span class="btn btn-secondary flex flex-center">SignUp</span></a>

                <!-- <div class="btn btn-secondary flex flex-center">
                    <a href="tsignup.html">SignUp</a> 
                </div> -->
            </div>
        </div>
        <div id="cta-container-agent" class="container">
            <p>Or are you an <span class="emphasis">Agent?</span><img src="/icons/Vector.png" alt="agent-icon" class="agent-icon"><span></span></p>
            <div class="btn-grp ">
                <a href="alogin"><span class="btn btn-primary flex flex-center">Login</span></a>
                <a href="asignup"><span class="btn btn-secondary flex flex-center">SignUp</span></a>

                <!-- <div class="btn btn-primary flex flex-center">
                    <a href="alogin.html">Login</a> 
                </div> -->
                <!-- <div class="btn btn-secondary flex flex-center">
                    <a href="asignup.html">SignUp</a>
                </div> -->
            </div>
        </div>
        <div class="container">
            <div class="services-div" id="services">
                <p class="title">&nbsp;&nbsp;&nbsp;What we offer</p>
                <ul>
                    <li>Tenant Screening <i class="fa-solid fa-check"></i></li>
                    <li>Legal Consultation <i class="fa-solid fa-check"></i></li>
                    <li>Database Management <i class="fa-solid fa-check"></i></li>
                    <li>Tenant Tracking and Validation <i class="fa-solid fa-check"></i></li> 
                    <li>Rent Collection <span class="little">coming soon</span> <i class="fa-solid fa-check"></i></li>
                </ul>
            </div>
            <div class="about-div" id="about">
                <p class="title">About  Us</p>
                <div>
                    <p>Welcome to Tosim's Royalty Homes, a web-based landlord-tenant database application that aims to streamline communication and record-keeping between landlords and tenants. Our platform is designed to make property management simpler, more efficient, and more transparent for everyone involved.</p>
                    <p> At Tosim's Royalty Homes, we believe that managing rental properties should be stress-free and easy for landlords, tenants and agents. We know that managing properties can be challenging, but we believe that technology can make it easier. </p>
                    <p class="hidden">That's why we developed a user-friendly and secure web-based application that helps landlords and tenants communcate more effectively and manage their properties more efficientl.</p>
                    <p class="hidden">our mission is to provide the best-in-class technology and service to simlify the property managment process, increase transparency, and create a better rental experience for all parties involved. We strive to dvelop  innovative tools that help landlords  and tenants interact in a more effective and streamlined way. By making the rental process more fficient, we a aim to save time and money for landlords, while also providing tenants with an easier and more transparent renting experience. We understand the challenges of managing rental properties, and we're committed to creating a platform that makes the process easier for everyone.</p>
                    <p class="hidden">At Tosim's Royalty Homes, we're dedicated to providing exceptional customer service and support. We're always here to ehlp with any questions or issues you may have, and we're constantly working to improve our platform and services to better  meet your needs.</p>
                    <p class="hidden">Thank you for choosing Tosim's Royalty Homes, as your landlord-tenant database application We're excited to help you streamline your property managment and create a better rental experience for you and your tenenats.</p>
                    <p><a href="" class="extend" id="extend-about">Read more...</a></p>
                </div>
            </div>
            <div class="founder-div">
                <p class="title">Meet the Founder</p>
                <img src="/images/founder.png" alt="Image of the founder">
                <div>
                    <p>Meet Adebajo Ebun! She is a visionary entrepreneur who recognized the need for innovation in the property management industry and created our web-based landlord-tenant database application.  </p>
                    <p>With a background in real estate and a passion for technology, she has always been interested in finding ways to simplify complex processes and improve the customer experience. <span>Her experience as a landlord and property manager gave her first-hand knowledge of the challenges faced by both landlords and tenants.</span> </p>
                    <p class="hidden">Driven by a desire to make a positive impact in the industry, she founded our company with the mission of developing a web-based application that would streamline communication and record-keeping, improve tenant selection processes, and provide a more transparent and user-friendly experience for both landlords and tenants.</p>
                    <p><a href="" class="extend" id="extend-founder">Read more...</a></p>
                </div>
            </div>
            <div class="contact-div" id="contact">
                <p class="title">Contact</p>
                <div>
                    <p>info@trhome.com</p>
                    <p>2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
                    <p>(808) 555-0111</p>
                    <p>@trhome</p>
                    
                </div>

                <p class="title">Send a quick message</p>
                <form action="" method="" id="quick-msg" class="quick-msg">
                    <textarea name="" id="msg-input" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn btn-primary send-btn">Send</button>
                </form>
            </div>
        </div>
       

        <footer>Copryight © 2023 Tosim’s Royalty Homes </footer>
        <script src="scripts/index.js"></script>
        <script src="https://kit.fontawesome.com/78f706be8e.js" crossorigin="anonymous"></script>
</body>
</html>