<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">

</head>
<body>
    <header class="header-container">
        <div class="sub-contain">
            <div class="top-bar">
                <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
            </div>
            <div class="nav-container container">
                <nav class="navigation">
                    <ul>
                        <li><a href="/#">Home</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#services">Services</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <div class="header">
            <div>
                <h2>Welcome</h2>
                <p class="date"> 9th June, 2023</p>
                <p class="title">Your dashboard</p>
            </div>
            <div class="avatar-div">
                <img src="/images/founder.png" alt="user avatar" class="user-avatar">
            </div>
        </div>
        <div class="board-container">
            <div>
                <a href="#" class="no-decor">
                    <div class="board flex">
                        <div class="board-icon flex">
                            <img src="/icons/history.png" alt="icon for history">
                        </div>
                        <div class="board-content">
                            <p class="board-title">History</p>
                            <p class="content"> Review your history with tenancy and agents.</p>
                        </div>
                    </div>
                </a>  
                <a href="#" class="no-decor">
                    <div class="board flex">
                        <div class="board-icon flex">
                            <img src="/icons/settings.png" alt="icon for settings">
                        </div>
                        <div class="board-content">
                            <p class="board-title">Settings</p>
                            <p class="content">Tweak your settings to suit your needs.</p>
                        </div>
                    </div>
                </a>   
                <a href="/care" class="no-decor">
                    <div class="board flex">
                        <div class="board-icon flex">
                            <img src="/icons/phone.png" alt="icon for phone">
                        </div>
                        <div class="board-content">
                            <p class="board-title">Customer Service</p>
                            <p class="content">Reach out to any of our customer care agents.</p>
                        </div>
                    </div>
                </a> 
                
            </div>
            <div>
                <a href="#" class="no-decor">
                    <div class="board flex">
                        <div class="board-icon flex">
                            <img src="/icons/form.png" alt="icon for form">
                        </div>
                        <div class="board-content">
                            <p class="board-title">Verification Status / Forms</p>
                            <p class="content">Verify your tenancy status.</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="no-decor">
                    <div class="board flex">
                        <div class="board-icon flex">
                            <img src="/icons/code.png" alt="icon for history">
                        </div>
                        <div class="board-content">
                            <p class="board-title">Obtain Unique Tenant Code (UTC)</p>
                            <p class="content">Generate your unique tenant code.</p>
                        </div>
                    </div>
                </a>
                <div>
                    <a href="#" class="no-decor submit-btn">
                        <a href="#" class="no-decor"><span class="btn btn-primary">Run Check    </span></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        Copryight © 2023 Tosim’s Royalty Homes
    </footer>
</body>
</html>