<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Form</title>
    <link rel="stylesheet" href="css/tverify.css">
</head>
<body>
    <header class="header-container">
        <div class="sub-contain">
            <div class="top-bar">
                <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
            </div>
            <div class="nav-container container">
                <nav class="navigation">
                    
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#cta-container-tenant">Login</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <div class="header">
            <div>
                <h2>Welcome Tenant</h2>
                <p class="date"> 9th June, 2023</p>
                <p class="title">Verification Form (Section A)</p>
            </div>
            <div class="avatar-div">
                <img src="/images/founder.png" alt="user avatar" class="user-avatar">
                <a href="#"><img src="/icons/edit-icon.png" alt="edit button" class="edit-btn"></a>
            </div>
        </div>
        <div class="form-container">
            <form action="">
                <div class="form-input">
                    <label for="age-input">Age</label>
                    <input type="text" id="age-input" name="ageInput" required>
                </div>
                <div class="form-input">
                    <label for="phone-input">Phone Number</label>
                    <input type="text" id="phone-input" name="phoneInput" required>
                </div>
                <div class="form-input">
                    <label for="email-input">Email</label>
                    <input type="email" id="email-input" name="emailInput" required>
                </div>
                <div class="form-input">
                    <label for="child-input">No of Children</label>
                    <input type="text" id="child-input" name="childInput" required>
                </div>
                <div class="form-input">
                    <label for="profession-input">Profession / Occupation</label>
                    <input type="text" id="profession-input" name="professionInput" required>
                </div>
                <div class="form-input">
                    <label for="position-input">Position</label>
                    <input type="text" id="position-input" name="positionInput" required>
                </div>
                <div class="form-input"> 
                    <label for="busaddr-input">Office / Business Address</label>
                    <textarea name="busaddrInput" id="busaddr-input" required></textarea>
                </div>
                <div class="form-input">
                    <label for="town-input">Town / Village</label>
                    <input type="text" id="town-input" name="townInput" required>
                </div>
                <div class="drop-down-div">
                    <label for="identForm-input">Form of Identification</label>
                    <select name="identForm-input" id="identForm-input" required>
                        <option value="passport">Int. Passport</option>
                        <option value="nin">NIN</option>
                        <option value="drivers license">Drivers' License</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="busEmail-input">Official Email</label>
                    <input type="email" id="busEmail-input" name="busEmailInput" required>
                </div>
                <p class="sub-title">NEXT OF KIN</p>
                <div class="form-input">
                    <label for="kin-name-input">Name</label>
                    <input type="text" id="kin-name-input" name="kinNameInput" required>
                </div>
                <div class="form-input"> 
                    <label for="kin-home-addr-input">Home Address</label>
                    <textarea name="kinHomeAddrInput" id="kin-home-addr-input" required></textarea>
                </div>
                <div class="form-input">
                    <label for="kin-phone-input">Phone Number</label>
                    <input type="text" id="kin-phone-input" name="kinPhoneInput" required>
                </div>
                 <div class="form-input">
                    <label for="rel-input">Relationship</label>
                    <input type="text" id="rel-input" name="relInput" required>
                </div>
                <div class="form-input">
                    <label for="kin-email-input">Email</label>
                    <input type="email" id="kin-email-input" name="kinEmailInput" required>
                </div>
                <div class="form-input"> 
                    <label for="kin-busaddr-input">Place of Work</label>
                    <textarea name="kinBusaddr-Input" id="kin-busaddr-input" required></textarea>
                </div>
                <div class="btn-grp">
                    <button type="button" class="btn btn-primary">Prev</button>
                    <button  type='button' class="btn btn-secondary">Save</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
        <div class="btn-container">
            <a>
                <div class="back-btn">
                    <img src="/icons/prev-icon.png" alt="previous icon">
                </div>
            </a>
        </div>
    </div>
    <footer>
        Copryight © 2023 Tosim’s Royalty Homes
    </footer>
</body>
</html>