<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Form</title>
    <link rel="stylesheet" href="css/tverify.css">
</head>
<body>
    <header class="header-container">
        <div class="sub-contain">
            <div class="top-bar">
                <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
            </div>
            <div class="nav-container container">
                <nav class="navigation">
                    
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#cta-container-tenant">Login</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <div class="header">
            <div>
                <h2>Welcome Tenant</h2>
                <p class="date"> 9th June, 2023</p>
                <p class="title">Verification Form (Section B)</p>
            </div>
            <div class="avatar-div">
                <img src="/images/founder.png" alt="user avatar" class="user-avatar">
                <a href="#"><img src="/icons/edit-icon.png" alt="edit button" class="edit-btn"></a>
            </div>
        </div>
        <div class="form-container">
            <form action="">
                <div class="form-input"> 
                    <label for="occupants-input">No of intended occupants</label>
                    <input name="occupantsInput" id="occupants-input" required>
                </div>
                <div class="drop-down-div">
                    <label for="religion-input">Religion</label>
                    <select name="religion-input" id="religion-input" required>
                        <option value="christianity">Chistianity</option>
                        <option value="islam">Islam</option>
                        <option value="others">Others</option>
                    </select>
                </div>
                <div class="form-input"> 
                    <label for="other-religion-input">if others, please specify</label>
                    <input name="otherReligionInput" id="other-religion-input" >
                </div>
                <div class="form-input"> 
                    <label for="rel-leader-input">Name of Pastor / Imam</label>
                    <input name="relLeaderInput" id="rel-leader-input" required>
                </div>
                <div class="form-input"> 
                    <label for="worship-addr-input">Place of Worship</label>
                    <textarea name="worshipAddrInput" id="worship-addr-input" required></textarea></textarea>
                </div>
                <div class="drop-down-div">
                    <label for="possession-input">How soon do you want to take possesion?</label>
                    <select name="possessionInput" id="possession-input" required>
                        <option value="immediately">Immediately</option>
                        <option value="one month">One month</option>
                        <option value="three months">Three months</option>
                    </select>
                </div>
                <p class="sub-title">CURRENT RESIDENCE</p>
                <div class="form-input"> 
                    <label for="landlord-name-input">Name of Previous Landlord</label>
                    <input name="landlordNameInput" id="landlord-name-input" required>
                </div>
                <div class="form-input"> 
                    <label for="landlord-addr-input">Address of Previous Landlord</label>
                    <textarea name="landlordAddrInput" id="landlord-addr-input" required></textarea></textarea>
                </div>
                <div class="form-input"> 
                    <label for="landlord-addr-input">Reasons for leaving place of Residence</label>
                    <textarea name="landlordAddrInput" id="landlord-addr-input" required></textarea>
                </div>
                <div class="radio-div">
                    <p>Debts Owed?</p>
                    <div class="input-radio">
                        <input type="radio" name="debtsOwedInput" id="debtsOwed" value="yes" required>
                        <label for="debtsOwed">Yes</label>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="debtsOwedInput" id="debtsOwed" value="no" required>
                        <label for="debtsOwed">Not</label>
                    </div>
                </div>
                <div class="form-input"> 
                    <label for="debts-amount-input">If yes, please state amount</label>
                    <input name="debtsOwedAmount" id="debts-amount-input">
                </div>
                <div class="form-input"> 
                    <label for="landlord-addr-input">Attach Evidence <span class="greyed">(receipts, invoices).</span> </label><span class="block greyed little">PDF only (max. 1Mb)</span>
                    <input type="file" name="debt-evidence"> 
                </div>
                <div class="form-input"> 
                    <label for="landlord-addr-input">Remarks about previous place of residence</label>
                    <textarea name="landlordAddrInput" id="landlord-addr-input" required></textarea>
                </div>
                <div class="btn-grp">
                    <button type="button" class="btn btn-primary">Prev</button>
                    <button  type='button' class="btn btn-secondary">Save</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
        <div class="btn-container">
            <a>
                <div class="back-btn">
                    <img src="/icons/prev-icon.png" alt="previous icon">
                </div>
            </a>
        </div>
    </div>
    <footer>
        Copryight © 2023 Tosim’s Royalty Homes
    </footer>
</body>
</html>