<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tverify.css">
</head>
<body>
    <header class="header-container">
        <div class="sub-contain">
            <div class="top-bar">
                <img src="images/logoThicker.jpg" alt="Logo of TRH" class="logo">
                <h1 class="header-title">TOSIM'S ROYALTY HOMES</h1>
            </div>
            <div class="nav-container container">
                <nav class="navigation">
                    
                    <ul>
                        <li><a href="/#">Home</a></li>
                        <li><a href="/#cta-container-tenant">Login</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#services">Services</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>

                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <div class="header">
            <div>
                <h2>Welcome <%= tenantFname %></h2>
                <p class="date"> <%= date %> </p>
                <p class="title">Verification Form (Section B)</p>
            </div>
            <div class="avatar-div">
                <img src="/images/founder.png" alt="user avatar" class="user-avatar">
                <a href="#"><img src="/icons/edit-icon.png" alt="edit button" class="edit-btn"></a>
            </div>
        </div>
        <div class="form-container">
            <p class="sub-title">GUARANTORS</p>
            <p>Please give the names and addresses of 2 persons who shall be required to provide a letter of guarantee/recommendation on letter head.</p>
            <form action="tverify5" method="post">
                <div class="form-input"> 
                    <label for="guarant-name-input">Name</label>
                    <input name="guarantNameInput" id="guarant-name-input" required>
                </div>
                <div class="form-input"> 
                    <label for="guarant-phone-input">Phone</label>
                    <input name="guarantPhoneInput" id="guarant-phone-input" required>
                </div>
                <div class="form-input"> 
                    <label for="guarant-addr-input">Address</label>
                    <textarea name="guarantAddrInput" id="guarant-addr-input" required></textarea></textarea>
                </div>
                <div class="form-input"> 
                    <label for="guarant-busaddr-input">Address of Place of Work</label>
                    <textarea name="guarantBusaddrInput" id="guarant-Busaddr-input" required></textarea></textarea>
                </div>
                <div class="form-input"> 
                    <label for="guarant-job-input">Occupation</label>
                    <input name="guarantJobInput" id="guarant-job-input" required>
                </div>
                <div class="form-input"> 
                    <label for="guarant-position-input">Position in the Company</label>
                    <input name="guarantPositionInput" id="guarant-position-input" required>
                </div>
                <div class="drop-down-div">
                    <label for="guarant-marriage-input">Marital Status</label>
                    <select name="guarantMarriageInput" id="guarant-marriage-input" required>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                    </select>
                </div>
                <div class="form-input"> 
                    <label for="guarant-email-input">Email</label>
                    <input name="guarantEmailInput" id="guarant-email-input" required>
                </div>
                <p class="sub-title"> GUARANTOR 2</p>
                <div class="form-input"> 
                    <label for="guarant-name-input2">Name</label>
                    <input name="guarantNameInput2" id="guarant-name-input2" required>
                </div>
                <div class="form-input"> 
                    <label for="guarant-phone-input2">Phone</label>
                    <input name="guarantPhoneInput2" id="guarant-phone-input2" required>
                </div>
                <div class="form-input"> 
                    <label for="guarant-addr-input2">Address</label>
                    <textarea name="guarantAddrInput2" id="guarant-addr-input2" required></textarea></textarea>
                </div>
                <div class="form-input"> 
                    <label for="guarant-busaddr-input2">Place of Work</label>
                    <textarea name="guarantBusaddrInput2" id="guarant-Busaddr-input2" required></textarea></textarea>
                </div>
                <div class="form-input"> 
                    <label for="guarant-job-input2">Occupation</label>
                    <input name="guarantJobInput2" id="guarant-job-input2" required>
                </div>
                <div class="form-input"> 
                    <label for="guarant-position-input2">Position in the Company</label>
                    <input name="guarantPositionInput2" id="guarant-position-input2" required>
                </div>
                <div class="drop-down-div">
                    <label for="guarant-marriage-input2">Marital Status</label>
                    <select name="guarantMarriageInput2" id="guarant-marriage-input2" required>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                    </select>
                </div>
                <div class="form-input"> 
                    <label for="guarant-email-input2">Email</label>
                    <input name="guarantEmailInput2" id="guarant-email-input2" required>
                </div>
                <div class="btn-grp">
                    <button type="button" class="btn btn-secondary"> <a href="/tverify4">Prev</a> </button>
                    <button  type='button' class="btn btn-secondary hidden">Save</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
        <div class="btn-container">
            <a href="/tdashboard">
                <div class="back-btn">
                    <img src="/icons/prev-icon.png" alt="previous icon">
                </div>
            </a>
        </div>
    </div>
    <footer>
        Copryight © 2023 Tosim’s Royalty Homes
    </footer>
</body>
</html>