body{
    margin: 0;
    background-image: url("/images/landing-page-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #2D3648;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Cantarell', sans-serif;   
}
    
    .top-bar{
        height: 200px;
        width: 100%;
        background-color: #CEB6DA;
        margin: 6.25rem  auto 0 auto;
        display: flex;
        /* border: 2px solid white; */
        /* flex-direction: row; */
        /* justify-content: center; */
    }
    .logo{
        max-height: 300px;
        margin: 0 0;
        display: inline;
        /* border: 1px solid white; */
        align-self: center;
        /* justify-content: center; */
    
    }
    .header-container{
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        margin: 0 auto;
        /* border: 1px solid white; */
        padding-bottom: 1.25rem    ;
    }
    .sub-contain{
        width: 75%;
        margin: 0 auto;
    }
    .header-title{
        color: white;
        font-size: 3.3rem !important;
        font-family: serif;
        display: inline;
        margin: 0;
        padding: 0;
        /* border: 1px solid white; */
        justify-content: center;
        align-self: center;
        text-shadow: 0.3125rem 0.3125rem 0.3125rem #A5A3A3;
    }
    nav ul{
        display: flex;
        font-size: 1.4rem;
        font-family: 'Cantarell', sans-serif;        
        font-weight: 700;
        color: white;
        text-decoration: none; 
        /* border: 2px white solid; */
        justify-content: space-between;
        margin-top: 1.875rem;
        
    }
    nav a{
        color: inherit;
        text-decoration: none;
    }
    nav a:hover{
        padding: 0.3125rem 0.3125rem;
        background-color: #CFB4DD;
        text-shadow: 0.125rem 0.125rem 0.125rem #A5A3A3;
    }
    .current-page{
        border-bottom: 0.1875rem solid white;
        padding-bottom: 0.3125rem;
    }
    nav a:active{
        border-bottom: 0.1875rem solid white;
        padding: 0.3125rem 0.3125rem;
        background-color: #CFB4DD;
    }
    nav a:current{
        border-bottom: 0.1875rem solid white;
        padding: 0.3125rem 0.3125rem;
        background-color: #CFB4DD;
    }
    nav li{
        list-style: none;
        color: white;
        text-decoration: none;
    }
    nav{
        width: 45%;
    }
    .nav-container{
        margin-top: 0;
        display: flex;
        justify-content: right;
    }

    .container{
        width:86%;
        /* border: 2px solid white; */
        margin: 0 auto;
        /* text-align: center; */
    }
    .title{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }
    .header{
        width:65%;
        /* border: 2px black solid; */
        margin: 2.5rem  auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding-right: 0; */
    }
    .date{
        font-size: 1.5rem;
        font-weight: 700;
        /* margin-top: 70px; */
    }
    
    .settings-tabs{
        width: 25%;
        margin: 0 auto;
        padding: 0;
        /* border: 2px solid black; */
    }

    .settings-tabs ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .settings-tabs li{
        margin: 0.9375rem 0 0.9375rem 0;
  
    }
    .settings-tabs a{
        text-decoration: none;
        color: inherit;
    }
    .current-tab{
        font-weight:700;
    }
    .user-avatar{
        width: 80%;
        /* border: 2px solid black; */
    }
    .service-container{
        width: 65%;
        margin: 0 auto 1.25rem auto;
    }
    .settings-content{
        width: 75%;
    }
    .settings-content h3{
        font-size: 1.9rem;
    }
    .bold{
        font-weight: 700;
    }
    footer{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CEB6DA;
        color: #FFFFFF;
        font-size: 1.4rem;
        text-shadow: 0.125rem 0.125rem 0.125rem #A5A3A3;
        margin-top: 0;
    }
    .back-btn{
        width: 65px;
        height: 65px;
        border-radius: 100%;
        border: 1px solid #A5A3A3;
        display:  flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0.125rem 0.125rem 0.125rem #A5A3A3;
    }
    .back-btn:hover{
        width: 70px;
        height: 70px;
    }
    .btn-container{
        width: 65%;
        margin: 0 auto 50px auto;
    }
    .edit-btn{
        /* border: 1px solid black; */
        display: inline-block;
        margin-left: 0;
    }

    .factor-btn{
        padding: 1.25rem 4.375rem;
        background-color: #2D3648;
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 5px;
        margin-top: 1.875rem;
    }
    .sub-title{
        font-weight: 700;
        font-size: 1.8rem;
    }

    .icon{
        width: 3%;
        margin-right: 0.625rem;
    }

    .content-grp{
        display: flex;
        justify-content: start;
        align-items:start;
    }
    .content-grp p{
        margin-top: 0;
    }

    /* Media Queries */

@media  screen and (min-width: 769px){
    .header-title{
        font-size: 3.3rem !important;
        line-height: 50px;
        /* border: 2px solid green; */
    }
}
@media screen and (max-width: 1000px){
    body{
        font-size: 1.25rem;
    }
    .nav-container{
        /* padding-right: 100px; */
        margin-top: 20px;
        /* border: 2px solid red; */
        justify-content: center;
    }
    .nuggets-row2{
        margin-top: 0;
    }
    .nuggets-row1{
        margin-bottom: 30px;
    }
    /* .header-container{
        justify-content: center;
    } */
}
@media (max-width: 768px) {
    body{
        background-image: none;
        margin-top: 0;
        padding-top: 0;
    }
    .title{
        font-size: 2rem !important;
    }
    .header-container{
        background-color: #CEB6DA;
        min-height: 500px;
        margin-top: 0;
        padding-top: 0;
        font-size: 3rem !important;
    }
    .header-title{
        display: block;
        text-align: center;
        font-size: 2.8rem !important;
    }
    .avatar-div{
        margin: 0 0 3.125rem 1rem;
    }
    .user-avatar{
        width: 100%;
    }
    .top-bar{
        flex-direction: column;
    }
    .nav-container{
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    .nav-container ul{
        flex-direction: column;
        margin-top: 250px;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        /* border: 2px solid brown; */

    }
    .nav-container li{
        margin-bottom: 15px;
        border-bottom: 1px solid white;
        width: 100%;
    }
    .logo{
        margin-top: 0;
        padding-top: 0;
        width: 110%;
        max-height: 350px;
    }
    .sub-contain{
        margin-top: 0;
        padding-top: 0;
        /* width: 100%; */
    }
    .top-bar{
        margin-top: 0;
        align-items: center;
    }
    .current-page{
        border-bottom: none;
    }
    .container{
        width: 100%;    
    }
    .lead-container{
        /* border: 2px white solid; */
        margin-top: 4.375rem;
    }
    .btn-primary{
        border-right: none;
        border: 3px solid #2D3648;
    }
    footer{
        margin-top: 80px;
        font-size: 1.2rem !important;
        text-align: center !important;
        align-content: center;
    }
    .header-title{
        line-height: 1;
    }
    .edit-btn{
        display: none;
    }
    .icon{
        width: 7%;
        margin-top: 10px;
    }
}
@media (min-width: 766px) and (max-width: 1500px) {
    .header-container{
        background-color: #CEB6DA;
    }
    .logo{
        width: 70%;
    }
    .nav-container{
        /* border: 2px solid red; */
        margin-right: 100px;
    }
    .form-container{
        width: 60%;
    }
    .lead{
        font-size: 1.5rem !important; 
    }
    .navigation li{
        margin-left: 10px;
        margin-left: 10px;
    }
    .icon{
        width: 4%;
    }
}
@media (max-width: 350px) {
    .user-avatar{
        width: 180%;
    }
}